@mixin borders($top, $left, $right, $bottom, $colour) {
  border-top: $top solid $colour;
  border-left: $left solid $colour;
  border-right: $right solid $colour;
  border-bottom: $bottom solid $colour;
}
.jselect {
  display: none;
}
.jselect-container {
  margin: .75rem 0;
  background-color: #d3d3d3;
  cursor: pointer;
}
.jselect-inputs-container {
  display: flex;
  position: relative;
}
.jselect-search-input {
  width: 100%;
  padding: .25rem .7rem;
  border: none;
}
.jselect-search-dropdown-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  right: 0;
  max-height: 100%;
  background-color: #fff;
}
.jselect-search-dropdown-arrow-img {
  width: 32px;
  height: 32px;
}
.jselect-optgroup {

}
.jselect-optgroup-label,
.jselect-option {
  display: block;
}
.jselect-optgroup-label {
  font-weight: bold;
  padding: .5rem .75rem;
  color: #4d4d4d;
  background-color: #b3b3b3;
}
.jselect-options-container {
  display: none;
}
.jselect-option {
  color: #4d4d4d;
  padding: .25rem .75rem;
  cursor: pointer;
  @include borders(0, 1px, 1px, 1px, #b3b3b3);

  &:last-of-type {
    border-bottom: 0;
  }
  &:hover {
    background-color: #9fc6f0;
  }
}